PORT=3000
NODE_ENV=development


SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_KEY=eyJ...
JWT_SECRET=cambia-esto-por-algo-largo-y-aleatorio
FRONTEND_URL=http://localhost:5173
CROSS_SITE_COOKIES=false
